<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/bootstrap3/css/bootstrap.css" th:href="@{/static/js/bootstrap3/css/bootstrap.css}" />
</head>
<body>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="/toAdd" th:href="@{/toAdd}" class="btn btn-info">add</a>
    </div>
</div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>ID</th>
        <th>汽车品牌</th>
        <th>汽车颜色</th>
        <th>汽车价格</th>
        <th>出厂时间</th>
        <th>修改</th>
        <th>删除</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.carId}"></td>
        <td th:text="${car.carBrand}"></td>
        <td th:text="${car.carColor}"></td>
        <td th:text="${car.carPrice}"></td>
        <td th:text="${#dates.format(car.carTime, 'yyyy-MM-dd HH:mm:ss')}"></td>
        <td><a th:href="@{/queryCarById(carId=${car.carId})}">edit</a></td>
        <td><a th:href="@{/deleteCar(carId=${car.carId})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>