<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/js/bootstrap3/css/bootstrap.css" th:href="@{/static/js/bootstrap3/css/bootstrap.css}" />
</head>
<body class="container">22222
<br/>
<h1>添加订单</h1>
<br/><br/>
<div class="with:80%">
    <form class="form-horizontal"   th:action="@{/editCar}"  method="post">
        <input type="hidden"  name="carId"  th:value="${car.carId}"/>
        <div class="form-group">
            <label for="carBrand" class="col-sm-2 control-label">汽车品牌</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="carBrand"  id="carBrand" placeholder="汽车品牌" th:value="${car.carBrand}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="carPrice" class="col-sm-2 control-label">汽车价格</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="carPrice"  id="carPrice" placeholder="汽车价格" th:value="${car.carPrice}"/>
            </div>
        </div>
        <div class="form-group">
            <label for="carColor" class="col-sm-2 control-label" >汽车颜色</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="carColor" id="carColor" placeholder="汽车颜色" th:value="${car.carColor}"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>

        </div>
    </form>

</div>
</body>
</html>